body {
  margin: 0;
}

.App {
  text-align: center;
}

.home {
  height: 90vh;
  color: #008190;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(75, 80, 82);
  color: white;
  overflow: hidden;
}

.navLinks {
  width: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
}

/* This may confuse me later..... 
*/

li {
  justify-content: center;
  color: white;
  list-style: none;
}

.product {
  margin: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  border: solid black 2px;
}

.card {
  border: solid purple 1px;
}

.dropdwn {
}

.dropdwn-content {
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #008190;
  min-width: 200px;
  min-height: 200px;
  text-align: left;
}
