body {
  margin: 0;
}

.App {
  height: 100vh;
  overflow-x: auto; /** Note to self - Putting this to auto makes the navbar weird in diff screen sizes, but need auto otherwise content cut off */
  background-color: #fcfefe;
  overflow-y: scroll;
}

.container {
  height: auto;
}

#itemContainer {
  margin-top: 50px;
}

.home {
  display: flex;
  height: 90vh;
  color: white;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.homeText {
  text-align: center;
}

/** old nav?
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(75, 80, 82);
  color: white;
}

.navLinks {
  width: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

/* This may confuse me later..... 
*/

li {
  justify-content: center;
  color: black;
  list-style: none;
  margin: 5px;
}

.quantityLabel {
  border: solid black 2px;
}

.product {
  margin: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.dropdwn {
  padding: 0px;
  overflow-x: hidden;
}

.dropdwn-content {
  position: absolute;
  color: black;
  background-color: rgb(245, 241, 241);
  min-width: 370px;
  min-height: 287px;
  text-align: left;
  z-index: 1;
  max-height: 400px;
  max-width: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid black 1px;
  right: 0;
}

.navbar-brand {
  color: white !important;
}

.navbar-brand:hover {
  background-color: blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#shopContainer {
  margin-top: 50px;
}

.label-style {
  color: blue !important;
  font-size: 16px;
}

.basket {
  height: 55px;
}

.checkout {
  position: relative;
  display: inline-block;
}

.quantity {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: black;
}

.basketItems {
  display: flex;
  justify-content: space-between;
}

.basketImg {
}

.basketDetails {
  width: 200px;
  text-align: left;
}

.basketPrice {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.basketButton {
  width: 100%;
}

.b2 {
  margin: 2%;
}

.b3 {
  margin: 5%;
}

.basketOverview {
  display: flex;
  color: black;
  background-color: #eaf6f6;

  flex-wrap: wrap;
  margin-bottom: 25px;
}

.card {
  margin-bottom: 15px;
}

.card-img-top {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

.sqButton {
  height: 38px;
  padding: 0.375rem 0.75rem;
  background-color: #212529;
  color: white;
  border: 0px;
}

.sqButton:hover {
  background-color: #424649;
  color: #fff;
}
.itemQuantityInput {
  height: 38px;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border: solid black 1px;
}

.test {
  margin-left: 5%;
}

.carouselImage {
  width: 100%;
}

.itemAddToCart {
  text-align: center;
}
