body {
  margin: 0;
}

.App {
  height: 100vh;
  overflow-x: auto; /** Note to self - Putting this to auto makes the navbar weird in diff screen sizes, but need auto otherwise content cut off */
  background-color: rgb(245, 241, 241);
  overflow-y: scroll;
}

.container {
  height: auto;
}

.home {
  display: flex;
  height: 90vh;
  color: white;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.homeText {
  text-align: center;
}

/** old nav?
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(75, 80, 82);
  color: white;
}

.navLinks {
  width: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

/* This may confuse me later..... 
*/

li {
  justify-content: center;
  color: black;
  list-style: none;
  margin: 5px;
}

.quantityLabel {
  border: solid black 2px;
}

.product {
  margin: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.dropdwn {
  padding: 0px;
}

.dropdwn-content {
  position: absolute;
  background-color: grey;
  min-width: 200px;
  min-height: 200px;
  text-align: left;
  z-index: 1;
  max-height: 450px;
  max-width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid black 2px;
}

.navbar-brand {
  color: white !important;
}

.navbar-brand:hover {
  background-color: blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#shopContainer {
  margin-top: 50px;
}
.container {
}

.label-style {
  color: blue !important;
  font-size: 16px;
}

input {
  height: 38px;
}

.basket {
  height: 55px;
}

.checkout {
  position: relative;
  display: inline-block;
}

.quantity {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: red;
}

.basketItems {
  display: flex;
  justify-content: space-between;
}

.basketImg {
}

.basketDetails {
  width: 200px;
  text-align: left;
}

.basketPrice {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.basketButton {
  width: 100%;
}

.card {
  margin-bottom: 15px;
}

.card-img-top {
  margin-bottom: 15px;
}
